//
// "Base" settings and mixins; generally, this file should be included for each
// sass-generated stylesheet in your project.
// 


//
// *  *  *   Wiredframe app default Foundation settings   *  *  *
//   Apply the Wiredframe framework Foundation settings.  Or not,
//   by commenting out this line.
// 
@import "../app/sass/settings";



//
// *  *  *   Conditional "global" compilation   *  *  *
//   In your project's global stylesheet (or elsewhere, if you desire),
//   set $generate-zf-globals and/or $generate-wf-globals (before @import _app_base.scss) 
//   to true to have Foundation and/or Wiredframe generate their default grid/etc classes.  
//   (For non-global stylesheets, re-including these base styles will often cause 
//   trouble.)
$generate-zf-globals: false !default;  // By default, don't compile/print ZF base styles
$include-html-classes: $generate-zf-globals !default;
$include-print-styles: $generate-zf-globals !default;
$include-html-global-classes: $generate-zf-globals !default;
$generate-wf-globals: false !default;  // By default, don't compile/print Wiredframe base styles



//
// *  *  *   Custom settings for this wireframing project   *  *  *
//   Configure Foundation variables in _settings_custom.scss.  Or not,
//   by commenting out this line.  Settings applied in _settings_custom.scss
//   will override Foundation's defaults.  If you're pulling in the Wiredframe
//   defaults (above), those will be overridden as well.
//   
@import "settings_custom";



//
// *  *  *   Foundation scss files   *  *  *
//

// Comment out this import if you are customizing you imports below
// @import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "foundation/components/global"; // *always required
@import "foundation/components/grid";
@import "foundation/components/visibility";
@import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms"; // *requires components/buttons
@import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
@import "foundation/components/button-groups"; // *requires components/buttons
@import "foundation/components/dropdown-buttons"; // *requires components/buttons
@import "foundation/components/split-buttons"; // *requires components/buttons
@import "foundation/components/flex-video";
@import "foundation/components/section";
@import "foundation/components/top-bar";  // *requires components/grid
@import "foundation/components/orbit";
@import "foundation/components/reveal";
@import "foundation/components/joyride";
@import "foundation/components/clearing";
@import "foundation/components/alert-boxes";
@import "foundation/components/breadcrumbs";
@import "foundation/components/keystrokes";
@import "foundation/components/labels";
@import "foundation/components/inline-lists";
@import "foundation/components/pagination";
@import "foundation/components/panels";
@import "foundation/components/pricing-tables";
@import "foundation/components/progress-bars";
@import "foundation/components/side-nav";
@import "foundation/components/sub-nav";
@import "foundation/components/switch";
@import "foundation/components/magellan";
@import "foundation/components/tables";
@import "foundation/components/thumbs";
@import "foundation/components/tooltips";
@import "foundation/components/dropdown";



//
//  *  *  *   Wireframed app optional features   *  *  *   
// 
//
@import "../app/sass/wf_functions";
@import "../app/sass/wf_custom_breakpoint";



//
//  *  *  *   Wireframed app styles    *  *  *   
// 
@import "../app/sass/wiredframe_base";
@import "../app/sass/legend_overlay";



//
// *  *  *   Custom mixins for this project   *  *  *
//
@import "functions";
