  <li class="leaf first"><a href="#" title="The Arts">The Arts</a></li>
  <li class="leaf"><a href="#" title="Academics">Academics</a></li>
  <li class="leaf"><a href="#" title="Sports &amp; Fitness">Sports &amp; Fitness</a></li>
  <li class="leaf"><a href="#" title="Clubs &amp; Organizations">Clubs &amp; Organizations</a></li>
  <li class="branch"><a href="#" title="">Student Affairs</a></li>
  <li class="leaf active-trail"><a href="#" title="Living" class="active">Living</a></li>
  <li class="leaf"><a href="#" title="Service Learning">Service Learning</a></li>
  <li class="leaf last"><a href="#" title="About Asheville">About Asheville</a></li>