<div class="row featured-blocks">
  <div class="tiny-12 small-6 columns">
    <div class="panel">
      <h3>PARSONS LECTURE</h3>
      <p class="subtitle">Celebrating exceptional teaching at UNC Asheville - past, present, and future.</p>
      <img class="right" src="http://placehold.it/100x67"/>
      <p>The Parsons Lecture invites a nationally renowned mathematician to UNC Asheville annually for a presentation on a topic accessible to the general audience.  <a href="#">Read more ></a></p>
    </div>
  </div>
  <div class="tiny-12 small-6 columns">
    <div class="panel">
      <h3>JOE PARSONS MATH LAB</h3>
      <p class="subtitle">Quick facts about the Math Lab</p>
      <ul>
        <li>Extra help in Math provided free to all UNC Asheville students.</li>
        <li>A drop-in service, no appointment is necessary.</li>
        <li>Extensive hours of operation.  <a href="#">More Information</a></li>
      </ul>
    </div>
  </div>
</div>