<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <title>{{title}}</title>
  
  {{legendair::css}}

  <!-- application-wide css -->
  {{css_links}}

  <!-- override/custom css -->
  {{wfctrl::cssrefs::/temp-dev.css}}



</head>

<body class="{{q}}">
