/* move to sass */

.wf-admin-menu {
  position: absolute;
  z-index: 1000;
  background-color: rgba(255,255,255, 190);
  padding: 2px;
  color: white;
  border: 1px solid black;

  box-shadow: 1px 1px 4px #333;
  position: fixed;
  top: 2px;
  left: 2px;

}

.wf-admin-menu ul {
  margin: 0;
}