<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>

  {# This is a test 'template comment' - will be removed from output html #}

  {{wfctrl::filepath_debug_comment}}
  
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <title>{{title}}</title>
  
  {{legendair::css}}

  <!-- application-wide css -->
  {{css_links}}

  <!-- override/custom (ie., page-specific) css -->
  <!-- eg: {{wfctrl::cssrefs::/home.css}} -->

</head>

<body class="{{q}}">
