<nav class="top-bar" style="">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
  </ul>



  <section class="top-bar-section">
      <ul class="top-bar-search">
        <li class="hover has-form search">{{blocks/shared/searchbar}}</li>
      </ul>
      <ul class="left top-bar-primary">
        <li class="divider"></li>
        <li ><a href="#">HOME</a></li>
        <li class="divider"></li>
        <li ><a href="#">ABOUT</a></li> 
        <li class="divider"></li>
        <li ><a href="#">ACADEMICS</a></li>
        <li class="divider"></li>
        <li ><a href="#">ADMISSIONS</a></li>
        <li class="divider"></li>
        <li ><a href="#">LIFE ON CAMPUS</a></li>
        <li class="divider"></li>
        <li ><a href="#">ATHLETICS</a></li>
        <li class="divider"></li>
        <li ><a href="#">NEWS & EVENTS</a></li>
        <li class="divider"></li>
      </ul>
      <ul class="top-bar-secondary show-for-tiny">
        <li>
          <ul>
            {{$$topbarsubnav$$}}
          </ul>
        </li>
        <li>
          <ul class="util-nav-mini">
            {{blocks/linklists/util_nav}}
          </ul>
        </li>
      </ul>
  </section>
</nav>
