<h4>Events</h4>
<ul class="events-list no-bullets teasers">
  <li class="">

    <a class="calendar-graphic" href="#" >
     <span class="date-month">Jul</span> 
     <span class="date-day">3</span>
    </a> 

    <div class="event-body">
      <div class="event-details">
        <a href="#" class="date-time">7:00&nbsp;PM</a>
        <a href="#" class="event-title">OLLI: Blue Ridge Orchestra Open Rehearsal</a>
        <div class="show-for-tiny">
          Turpis Etiam In Sagittis nunc Pellentesque Nec Dapibus Nisl Non Feugiat Purus
        </div>
      </div>
    </div>

  </li>


  <li class="">

    <a class="calendar-graphic" href="#" >
     <span class="date-month">Jul</span> 
     <span class="date-day">4</span>
    </a> 

    <div class="event-body">
      <div class="event-details">
        <a href="#" class="date-time">7:30&nbsp;PM</a>
        <a href="#" class="event-title">Departmental Honors Reception</a>
        <div class="show-for-tiny">
          Turpis Etiam In Sagittis nunc Pellentesque Nec Dapibus Nisl Non Feugiat Purus
        </div>
      </div>
    </div>

  </li>





  <!-- <li class="">
    <div class="row">
      <div class="tiny-3 small-4 large-3 columns">
        <a class="calendar-graphic" href="#">
         <span class="date-month">Jul</span> 
         <span class="date-day">4</span>
        </a> 
      </div>
      <div class="tiny-9 small-8 large-9 columns">
        <a class="event-details" href="#">
          <span class="date-time">3:00 PM</span>Financial Aid Workshop</a>
          <div class="show-for-tiny">
            Turpis Etiam In Sagittis nunc Pellentesque Nec Dapibus Nisl Non Feugiat Purus
          </div>
      </div>
    </div>
  </li>
  <li class="">
    <div class="row">
      <div class="tiny-3 small-4 large-3 columns">
        <a class="calendar-graphic" href="#">
         <span class="date-month">Jul</span> 
         <span class="date-day">5</span>
        </a> 
      </div>
      <div class="tiny-9 small-8 large-9 columns">
        <a class="event-details" href="#">
          <span class="date-time">7:30 PM</span>New Students Reception and Dance Party</a>
          <div class="show-for-tiny">
            Turpis Etiam In Sagittis nunc Pellentesque Nec Dapibus Nisl Non Feugiat Purus
          </div>
      </div>
    </div>
  </li> -->



</ul>
<p><a href="#">More Events &gt;</a></p>