
.meta-overlay-toggle {

}
.meta-overlay {

}
.meta-overlay-hide {

}

#navigation-utility .meta-overlay {
  top: -4px;
  left: 0;
}

@media only screen and (min-width:768px)  {
  .meta-overlay-show {
    display: inline-block;
  }
  .legend-overlay-notes.meta-overlay-show {
    display: block;
  }
  .meta-overlay-toggle {
    display: block;
  }
}

.events-list .meta-overlay {
  display: none;
}

.legend-overlay-notes {
  padding-top: 10px;
  display: none;
  background-color:#faa;
  dl {
    padding-top: 10px;
  }
  dt, dd {
    float: left;
  }
  dt {
    width: 30px;
    clear: left;
  }
}


