
/* + + +   MASTHEAD   + + + */

// Desktop styles
@media #{$small} { 
  #masthead {
    height: 121px;
    background-image: url("http://placehold.it/960x120/f3f3f3/dddddd&text=Masthead+Banner");
  }
  #navigation-utility {
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 0;
    font-size: emPCalc(12);
  }
}

#logo img {
  @extend .dark-link;
  margin-top:27px;
  width: 285px;
  min-width: emCalc(215px);
}

@media #{$small} { 
}

#navigation-utility {
  margin: 0;
  margin-top: 24px;
  float: right;
  clear: right;
  font-size: emPCalc(12);
}

  
#main-nav, .top-bar ul li > a {
  font-size: emPCalc(12);
}
.top-bar {
  height: 30px;
  margin-bottom: 0px;
  & ul li > a {
    font-size: 11px;
    font-weight: normal;
  }
  .name {
    display: none;
    color: #ccc;
    padding-left: 3px;
  }
  .toggle-topbar.menu-icon a {
    text-indent: -67px;
  }
  .menu-icon span {
    font-size: 16px;
  }
}

// Styles for phone
@media #{$tiny} {
  #logo {
    text-align: center;
    background-color: #ccc;
    padding: 0;
    img {
      margin-top: 0;
      border: 1px solid #aaa;
    }
  }
  .top-bar {
    .name {
      display: list-item;
    }
  }
  #util-nav {
    text-align: center;
    padding-bottom: 0;
    background-color: #ddd;
    .search-bar {
      float: none !important;
      height: 31px;
      input {
        width: 80%;

      }
      a.button {
        float: right !important;
        width: 23px;
        height: 23px;
        margin: 2px 2px 0 0;
      }
    }
    #navigation-utility {
      margin-bottom: 5px;
      margin-top: 5px;
      text-align: center;
      width: 100%;
      li {
        float: none !important;
        display: inline-block;
      }
    }
  }
  .social-media-buttons {
    float: none !important;
    width: 80%;
    margin: 4px auto 0 auto;
    li {
      display: inline-block;
      float: none;
    }
  }
  body .row.subsite-title-bar {
    padding-right: 0;
    .columns {
      padding: 0;
    }
  }

}




