
/* + + +   GLOBAL   + + + */


body {
  background-image: url("http://thedrupalteam.com/unc-wireframing/images/background-tile.png");
}

a {
  &:hover {
    text-decoration: underline;
  }
}


.frame-box {
  border: 1px solid #aaa;
}

.no-bullets {
  list-style-type: none;
  list-style-position: inside;
  li {
  }
}

// Vertical lists of teasers
.teasers > li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  &:first-child {
    padding-top: 0;
  }
}

.align-center {
  text-align: center;
  & ul.inline-list li {
    float: none;
    display: inline-block;
  }
}

.cta {
  @extend .expand;
}

.clear-fix { clear: both; }

img.gray {
  @include filter(grayscale(100%) opacity(0.5));
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}


img.left, .left > img {
  margin-right: 10px;
}

img.right, .right > img {
  margin-left: 10px;
}

img.banner {
  margin-bottom: 5px;
}

.special {
  background-color: rgba(255,255,255,.8);
  padding: emCalc(10px);
  font-size: 105%;
  float: right;
  width: 247px;
}

.dark-link {
  @include filter(brightness(1.0));
  &:hover {
    @include filter(brightness(0.5));
    @include transition(filter 0.3s ease-out, -webkit-filter 0.3s ease-out);
    //-webkit-transition: -webkit-filter 300ms ease-out;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  }
}

/* + + +   CONTENT BLOCKS   + + + */

.content-block {
  & > h2 {
    font-size: emCalc(24px);
    font-weight: normal;
    margin-bottom: 10px;
  }
  h3.column-title {
    font-size: emPCalc(15);
    font-weight: bold;
  }
}
