


<h2 class="events-title">EVENTS</h2>
<ul class="events-list no-bullets teasers">


  <li class="">

    <a class="calendar-graphic" href="#" >
     <span class="date-month">Jul</span> 
     <span class="date-day">3</span>
    </a> 
     
    <div class="event-body">
      <div class="event-details">
        <a href="#" class="event-hero"><img src="http://placehold.it/80x80&text=Event+Hero"/></a>
        <a href="#" class="date-time">5:00&nbsp;PM</a> 
        <a href="#" class="event-title">ILSSA Exhibition Opening</a>
  
      </div>
    </div>

  </li>


  <li class="">

    <a class="calendar-graphic" href="#" >
     <span class="date-month">Jul</span> 
     <span class="date-day">3</span>
    </a> 

    <div class="event-body">
      <div class="event-details">
        <a href="#" class="date-time">7:00&nbsp;PM</a>
        <a href="#" class="event-title">OLLI: Blue Ridge Orchestra Open Rehearsal</a>
      </div>
    </div>

  </li>


  <li class="">

    <a class="calendar-graphic" href="#" >
     <span class="date-month">Jul</span> 
     <span class="date-day">4</span>
    </a> 

    <div class="event-body">
      <div class="event-details">
        <a href="#" class="date-time">7:30&nbsp;PM</a>
        <a href="#" class="event-title">Departmental Honors Reception</a>
      </div>
    </div>

  </li>



</ul>
<p><a href="#">More Events &gt;</a></p>
