<div class="featured-item featured-news-item fb1">
  <a href="#" class="right"><img src="http://placehold.it/120x120&text=Hero" class="right hero"/></a>
  <h3 class="column-title"><a href="#">Football &amp; Volleyball Camps Start Soon</a></h3>
  <p> UNC Asheville.s Sports Academy summer camps in football and volleyball get under way soon. Football camp, led 
  by Coach Reid Bennett of the Carolina Gladiators, begins July 15. Volleyball camp, led by Bulldog 
  Head Coach Frederico Santos, begins July 22. <a href="#">Read More &gt;</a></p>
  <div class="clear-fix"></div>
</div>