<div class="featured-item featured-video-item">
  <h3 class="column-title"><a href="#">Video: Last Weedend's Folk Dance Revival</a></h3>
  <img src="http://placehold.it/300x200&text=Video" class="video"/>
  <p>For an instant in the flashing eyes of the mate, and his fiery cheeks, you would have almost 
  thought that he had really received the blaze of the levelled tube. 
  </p>
  <div class="clear-fix"></div>
</div>
