    <div id="slider" class="flexslider flexslider-main">
      <ul class="slides">
        <li>
           <img src="http://placehold.it/720x325&text=slide 1"  alt="Science Magnified">
          <div class="caption">
              
              <h1 class="heading"><a href="http://css-tricks.com/metafizzy-effect-with-sass/">Science Magnified</a></h1>
              <span class="subheading"><a href="#">Biology students scrtinize parasites up close and personal with the amazing critters of the earth. Biology students scrtinize.... </a> </span><span class="read-more large button"><a href="#">Read More</a></span>
              </a>
          </div>
        </li>

         <li>
           <img src="http://placehold.it/720x325&text=slide 2"  alt="MetaFizzy Effect with Sass">
          <div class="caption">
              <h1 class="heading"><a href="#">Having Fun With Sass</a></h1>
              <span class="subheading"><a href="#">Biology students scrtinize parasites up close and personal with the amazing critters of the earth. Biology students scrtinize.... </a> </span><span class="read-more large button"><a href="#">Read More</a></span>
              </a>
          </div>
        </li>

         <li>
           <img src="http://placehold.it/720x325&text=slide 3" alt="Science Magnified">
          <div class="caption">
              <h1 class="heading"><a href="#">SVG Filters on Text</a></h1>
              <span class="subheading"><a href="#">Biology students scrtinize parasites up close and personal with the amazing critters of the earth. Biology students scrtinize.... </a> </span><span class="read-more large button"><a href="#">Read More</a></span>
              </a>
          </div>
        </li>

        <li>
           <img src="http://placehold.it/720x325&text=slide 4"  alt="Science Magnified">
          <div class="caption">
              <h1 class="heading"><a href="#">Science Magnified</a></h1>
              <span class="subheading"><a href="#">Biology students scrtinize parasites up close and personal with the amazing critters of the earth. Biology students scrtinize.... </a> </span><span class="read-more large button"><a href="#">Read More</a></span>
              </a>
          </div>
        </li>

        <li>
           <img src="http://placehold.it/720x325&text=slide 5"  alt="Science Magnified">
          <div class="caption">
              <h1 class="heading"><a href="#">SVG Filters on Text</a></h1>
              <span class="subheading"><a href="#">Biology students scrtinize parasites up close and personal with the amazing critters of the earth. Biology students scrtinize.... </a> </span><span class="read-more large button"><a href="#">Read More</a></span>
              </a>
          </div>
        </li>

        <li>
           <img src="http://placehold.it/720x325&text=slide 6"  alt="Science Magnified">
          <div class="caption">
              <h1 class="heading"><a href="#">Science Magnified</a></h1>
              <span class="subheading"><a href="#">Biology students scrtinize parasites up close and personal with the amazing critters of the earth. Biology students scrtinize.... </a> </span><span class="read-more large button"><a href="#">Read More</a></span>
              </a>
          </div>
        </li>

        <li>
           <img src="http://placehold.it/720x325&text=slide 7"  alt="Science Magnified">
          <div class="caption">
              <h1 class="heading"><a href="#">Science Magnified</a></h1>
              <span class="subheading"><a href="#">Biology students scrtinize parasites up close and personal with the amazing critters of the earth. Biology students scrtinize.... </a> </span><span class="read-more large button"><a href="#">Read More</a></span>
              </a>
          </div>
        </li>

        <li>
           <img src="http://placehold.it/720x325&text=slide 8"  alt="Science Magnified">
          <div class="caption">
              <h1 class="heading"><a href="#">Science Magnified</a></h1>
              <span class="subheading"><a href="#">Biology students scrtinize parasites up close and personal with the amazing critters of the earth. Biology students scrtinize.... </a> </span><span class="read-more large button"><a href="#">Read More</a></span>
              </a>
          </div>
        </li>

        <li>
           <img src="http://placehold.it/720x325&text=slide 9"  alt="Science Magnified">
          <div class="caption">
              <h1 class="heading"><a href="#">Science Magnified</a></h1>
              <span class="subheading"><a href="#">Biology students scrtinize parasites up close and personal with the amazing critters of the earth. Biology students scrtinize.... </a> </span><span class="read-more large button"><a href="#">Read More</a></span>
              </a>
          </div>
        </li>

        <li>
           <img src="http://placehold.it/720x325&text=slide 10"  alt="Science Magnified">
          <div class="caption">
              <h1 class="heading"><a href="#">Science Magnified</a></h1>
              <span class="subheading"><a href="#">Biology students scrtinize parasites up close and personal with the amazing critters of the earth. Biology students scrtinize.... </a> </span><span class="read-more large button"><a href="#">Read More</a></span>
              </a>
          </div>
        </li>
      </ul> <!-- /slideshow -->
      <div id="slider-controls"></div>
    </div>

    <div id="carousel" class="flexslider flexslider-thumbs hide-for-small">
      <ul class="slides">
        <li class="thumbnail"><img src="http://placehold.it/150x60&text=Slide1" width="150" height="50" alt="Science Magnified"></li>
        <li class="thumbnail"><img src="http://placehold.it/150x60&text=Slide2" width="150" height="50" alt="Science Magnified"></li>
        <li class="thumbnail"><img src="http://placehold.it/150x60&text=Slide3" width="150" height="50" alt="Science Magnified"></li>
        <li class="thumbnail"><img src="http://placehold.it/150x60&text=Slide4" width="150" height="50" alt="Science Magnified"></li>
        <li class="thumbnail"><img src="http://placehold.it/150x60&text=Slide5" width="150" height="50" alt="Science Magnified"></li>
        <li class="thumbnail"><img src="http://placehold.it/150x60&text=Slide6" width="150" height="50" alt="Science Magnified"></li>
        <li class="thumbnail"><img src="http://placehold.it/150x60&text=Slide7" width="150" height="50" alt="Science Magnified"></li>
        <li class="thumbnail"><img src="http://placehold.it/150x60&text=Slide8" width="150" height="50" alt="Science Magnified"></li>
        <li class="thumbnail"><img src="http://placehold.it/150x60&text=Slide9" width="150" height="50" alt="Science Magnified"></li>
        <li class="thumbnail"><img src="http://placehold.it/150x60&text=Slide10" width="150" height="50" alt="Science Magnified"></li>
      </ul>
    </div>


