<div class="row">
  <div class="tiny-12 small-6 columns">
    <div class="panel fb3">
      <a href="#"><h3 class="column-title">Welcome to NEH Summer Institute</h3></a>
      <a href="#"><img src="http://placehold.it/400x80&text=Banner" class="banner"/></a>
      <p> UNC Asheville is hosting the National Endowment for the Humanities 2013 Summer Institute for K-12 
      teachers, .The Power of Place: Land and Peoples in Appalachia,. July 8-26. 
      <a href="#">Read More &gt;</a></p>
    </div>
  </div>
  
  <div class="tiny-12 small-6 columns">
    <div class="panel fb4">
      <a href="#"><h3 class="column-title">Community Days Kick-off</h3></a>
      <p> UNC Asheville is hosting the National Endowment for the Humanities 2013 Summer Institute for K-12 
      teachers, .The Power of Place: Land and Peoples in Appalachia,. July 8-26. 
      Dan Pierce and Erica Abrams Locklear of UNC Asheville.s faculty, and Jamie Ross, producer of 
      the PBS series, Appalachia: A History of Mountains and People, are core faculty for the institute. 
      <a href="#">Read More &gt;</a></p>
    </div>
  </div>

</div>
