

.backpage {
  p {
    font-size: emPCalc(16);
  }
  h2 {
    font-size: emPCalc(20);
  }
  img.left, img.right {
    max-width: 50%;
  }
  .row.main-nav .columns {
    padding-bottom: 0;
  }
  .subsite-title-bar {
    border-top: 1px #555;
    text-align: right;
    background-color: #ddd;
    font-size: emPCalc(24);
    padding-top: 5px;
    padding-right: $column-gutter/2;
    &:hover {
      background-color: #eee;
    }
  }
  .columns {
    padding-bottom: 10px;
  }
  .page-title {
    font-size: 30px;
    color: #999;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .side-nav {
    li {
      text-transform: uppercase;
      font-size: emPCalc(14);
      padding: 4px 20px;
      text-align: left;
      background-color: #ddd;
      &:hover {
        background-color: #eee;
      }
    }
  }

  .sidebar-info {
    h3 {
      font-size: emPCalc(22);
      line-height: normal;
      margin-bottom: .25em;
    }
  }
  .footer-blocks {
    p {
      height: 86px;
    }
    div {
      height: 186px;
    }
    .footer-blocks-left {
      padding-right: $column-gutter/4;
    }
    .footer-blocks-mid {
      padding-right: $column-gutter/4;
      padding-left: $column-gutter/4;
    }
    .footer-blocks-right {
      padding-left: $column-gutter/4;
    }

  }
}


@media #{$tiny} {
  .backpage {
    .subsite-title-bar {
      text-align: center;
    }
    .page-title {
      margin-bottom: 10px;
    }
    .share-this {
      float: none;
      font-size: emPCalc(16);
      text-align: center;
      padding-top: 8px;
      padding-bottom: 0;
    }
  }
}




