
/* + + +   MASTHEAD   + + + */


.page-header-large {
  @extend .hide-for-tiny;
}

#masthead {
  .logo img {
    @extend .dark-link;
    margin-top: 0;
    width: 285px;
    min-width: emCalc(215px);
    
  }
}
.masthead {
  .util-nav {
    @extend .inline-list;
    @extend .right;
    margin: 0;
    margin-top: 15px;
    float: right;
    clear: right;
    font-size: emPCalc(12);
  }
}
.page-header-mobile {
  @extend .show-for-tiny;
  .logo {
    background-color: $medium-dark-gray;
    padding: 10px;
    margin-left: none;
  }
}  


.row.main-nav,
ul.top-bar-primary {
  background-color: black;
}
#main-nav, .top-bar ul li > a {
  font-size: emPCalc(12);
}
.top-bar {
  height: 30px;
  margin-bottom: 0px;
  & ul li > a {
    font-size: 11px;
    font-weight: normal;
  }
  .name {
    display: none;
    color: #ccc;
    padding-left: 3px;
  }
  .toggle-topbar.menu-icon a {
    text-indent: -67px;
  }
  .menu-icon span {
    font-size: 16px;
  }
  .top-bar-search {
    @extend .right;
    input,
    .button {
      top: 0;
    }
    input {
      height: 17px;
    }
    img {
      height: 18px;
    }
  }
  .search-bar {
    height: 24px;
    margin-top: 3px;
  }

  //  *  *  *  MOBILE STYLES  *  *  *
  &.expanded {
    background-color: $topbar-dropdown-bg;
    padding-bottom: 5px;
    .top-bar-primary,
    .top-bar-secondary {
      float: left !important;
      width: 50%;
    }
    li {
      background-color: $topbar-dropdown-bg;
    }
    .top-bar-primary li {
      text-align: right;
      a {
        padding: 4px 8px 4px 0;
      }
    }
    .top-bar-secondary li {
      text-align: left;
      a {
        padding: 2px 0 2px 28px;
      }
    }
    .top-bar-primary li.divider {
      border: none;
    }
    .has-form.search {
      text-align: center;
      padding: 0;
    }
    .top-bar-search {
      float: none !important;
    }
    .search-bar {
      float: none !important;
      display: inline-block;
      img, input {
        height: 18px;
      }
    }
  }
}

// Desktop styles
@media #{$small} { 
  #masthead {
    height: 121px;
    background-image: url("http://placehold.it/960x120/f3f3f3/dddddd&text=Masthead+Banner");
    .logo {
      margin-left: $column-gutter / 2;
      img {
        margin-top:27px;
      }
    }
  }
  #navigation-utility {
    max-width: 50%;
    margin-top: 8px;
    margin-right: 30px;
    margin-bottom: 0;
    font-size: emPCalc(12);
  }

}

// Util nav in topbar
.top-bar-secondary {
  .util-nav-mini {
    border-top: 1px solid white;
    margin-top: 10px;
    margin-left: 28px;
    width: 70%;
    line-height: 0.7em;
    padding-top: 6px;
    padding-right: 6px;
    li {
      display: inline-block;
    }
 
  }
}     
.top-bar.expanded .top-bar-secondary .util-nav-mini a {
  padding-left: 0;
  padding-right: 6px;
  color:  #2ba6cb; /*$anchor-font-color;*/
} 


// Styles for phone
@media #{$tiny} {
  #logo,
  .logo {
    text-align: center;
    img {
      margin-top: 0;
      border: 1px solid $medium-gray;
    }
  }
  .top-bar {
    .name {
      display: list-item;
    }
  }
  .util-nav {
    text-align: center;
    padding-bottom: 0;
    background-color: #ddd;
    #navigation-utility {
      margin-bottom: 5px;
      margin-top: 5px;
      text-align: center;
      width: 100%;
      li {
        float: none !important;
        display: inline-block;
      }
    }
  }
  .social-media-buttons {
    float: none !important;
    width: 80%;
    margin: 4px auto 0 auto;
    li {
      display: inline-block;
      float: none;
    }
  }
  body .row.subsite-title-bar {
    padding-right: 0;
    .columns {
      padding: 0;
    }
  }

}
