
.gateway {
  .columns {
    padding-bottom: 10px;
    .main-nav & {}
  }
  .main-nav .columns {
    padding-bottom: 0;
  }
  .page-title {
    font-size: 30px;
    color: #999;
    margin-bottom: 30px;
    margin-top: 10px;
    .act-now {
      font-size: emPCalc(18);
      float: right;
      margin-bottom: 0;
    }
  }
  @media #{$tiny} {
    .featured-media img {
      width: 100%;
    }
  }
  .gateway-links {
    ul {
      @extend .no-bullets;
    }
  }
  .this-week-title h3 {
    float: left;
  }
  .this-week h4 {
    font-size: 1em;
    line-height: 1em;
  }
  .weather {
    float: right;
    width: 120px;
    .weather-icon-wrapper {
      @extend .right;
      img {
        width: 50%;
      }
    }
  }
}




