/* + + +   LAYOUT   + + + */

// Force foundation rows to fill width, otherwise re-scale when font-size is changed
// See: https://github.com/zurb/foundation/issues/2529 */
.row {
  max-width: 960px;
}

.row {
  background-color: white;
}


//
// Special handling for collapsed rows - supports (as for home page) situations where some, but not all, rows within a column should be collapsed.
// 

// Add gutter between cols on a collapsed row
.row.collapse .row.internal-gutters .columns {
  padding-left: $column-gutter / 2;
  padding-right: $column-gutter / 2;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}
  
// Non-collapsed row inside a collapsed row
.row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}

.collapsed-inset-small {
  padding-left:0.25em;
  padding-right: 0.25em;
}

@media #{$small} {
  .collapsed-inset-small {
    padding-left:0.25em;
    padding-right: 0.25em;
  }
}
// On tablet+ screen, fill body width
@media #{$not-tiny} { 
  .row {
    &.fill-left {
      .columns {
        &:first-child {
          padding-left:0;
        }
      }
    }
    &.fill-right {
      .columns {
        &:last-child {
          padding-right:0;
        }
      }
      & row:not(.fill-right) {
        .columns {
          &:last-child {
            padding-right: $column_gutter/2;
          }
        }
      }
    }
  }



  // Non-collapsed row inside a collapsed row
  .row.collapse .row {
    margin-left: 0;
    margin-right: 0;
    .columns {
      padding-left: $column-gutter / 2;
      padding-right: $column-gutter / 2;
    }
    .row .columns {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

// Remove top padding from element 
.fill-top {
  padding-top: 0;
}

@media #{$tiny} {
  .columns {
    padding-left: emCalc(4px);
    padding-right: emCalc(4px);
  }
  .row .row {
    width: auto;
    margin-left: emCalc(-4px);
    margin-right: emCalc(-4px);;
  }
}


//  "Micro" layout (only supports 12-column, and only partially, at this point)
/*   MICRO   */
@media only screen and (max-width: 350px) {
  .show-for-micro { display:inherit !important;}
  .hide-for-micro { display: none; }
  .micro-12 {
    position: relative;
    width: 100%;
    &:first-child,
    &:last-child {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .row.collapse .row.internal-gutters .micro-12.columns {
    &:first-child,
    &:last-child {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
/*   NOT-MICRO   */
@media only screen and (min-width: 351px) {
  .show-for-micro { display:none; }
}


// Push-pull at *larger* screen sizes (foundation's push/pull 
// reverses the layout vs the source order at *smaller* sizes.
//
//
@media #{$not-tiny} {
  @for $i from 1 through $total-columns - 1 {
    .not-tiny-push#{-$i} { @include grid-column($push:$i, $collapse:null, $float:false); }
    .not-tiny-pull#{-$i} { @include grid-column($pull:$i, $collapse:null, $float:false); }
  }
}
@media #{$small} {
  @for $i from 1 through $total-columns - 1 {
    .large-push#{-$i} { @include grid-column($push:$i, $collapse:null, $float:false); }
    .large-pull#{-$i} { @include grid-column($pull:$i, $collapse:null, $float:false); }
  }
}
