
.sub-site {
  p {
    font-size: emPCalc(16);
    &.olli-story {
      padding: 15px 10px;
    }
  }
  h2 {
    font-size: emPCalc(20);
  }
  h3 {
    font-size: emPCalc(18);
  }
  .subsite-title-bar {
    border-top: 1px #555;
    text-align: left;
    background-color: #ddd;
    font-size: emPCalc(24);
    padding-top: 5px;
    padding-right: $column-gutter/2;
    padding-left: $column-gutter/2;
    @include transition(background-color 0.3s ease-out);
    &:hover {
      background-color: #eee;
    }
  }
  .columns {
    padding-bottom: 10px;
  }
  .main-nav .columns {
    padding-bottom: 0;
  }
  .page-title {
    font-size: 30px;
    color: #999;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .side-nav {
    li {
      padding: 4px 20px;
      text-align: right;
      background-color: #ddd;
      &:hover {
        background-color: #eee;
      }
    }
  }
  @extend .no-labels;
  .footer-blocks {
    p.featured-link {
      @extend .dark-link;
      @include filter(brightness(0.9));
    }
    .promo-links-a {
      padding-right: $column-gutter/4;
    }
    .faculty-highlight {
      padding-right: $column-gutter/4;
      padding-left: $column-gutter/4;
      img {
        float: right;
        min-width: 25%;
        width: 25%;
        
      }
      h3 {
        float: left;
        min-width: 70%;
      }
      p {
        clear: left;
      }
    }
    .promo-links-b {
      padding-left: $column-gutter/4;
      padding-right: 0;
    }

  }

  .orbit-container {
    .orbit-slides-container {
      & > * {
        .orbit-caption {
          padding: 5px 20px 10px 20px;
        }
      }
    }
  }
  .row .row.featured-blocks {
    margin-right:0;
    .subtitle {
      font-weight: bold;
    }
    .columns:last-child {
      padding-right: 0;
    }
    ul {
      font-size: emPCalc(16);
    }
    li {
      margin-left: 1.25em;
    }
  }
}


@media #{$tiny} {
  .sub-site {
    .subsite-title-bar {
      padding-left: 0;
    }
  }
  .push-6.promo-links-b {
    left: 0;
  }
  .pull-3.faculty-highlight {
    right: 0;
  }
}




