//
// *  *  *   Generate flexslider-specific css file   *  *  *
// 


//   Import Foundation, Wiredframe and project-global components
@import "app_base";

#slider {
    position: relative;
}
#slider-controls {
    position: absolute;
    height: 50%;
    width: 100%;
    z-index: 1000;
    top: 10%;
}
.flex-direction-nav {

    list-style:none;
    margin-bottom: 0;
    a{
        // width: 30px;
        width: 21px;
        height: 30px;
        top: 50%;
        display: block;
        position: absolute;
        cursor: pointer;
        text-indent: -9999px;
        opacity: 1;
        -webkit-transition: all .3s ease;
    }   
    .flex-next{ //slideshow control
        background: url(../images/right-arrow.png) no-repeat 0 0;
        right: 2%;
        &:hover{
            opacity:0.8;
        }
    }
    .flex-prev { //slideshow control
        background: url(../images/left-arrrow.png) no-repeat 0 0;
        left: 2%;
        &:hover{
            opacity:0.8;
        }
    }

}

//Pause | Play Buttons

.flex-pauseplay {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    a {
        position: absolute;
        right: 8%;
        top: 15%;
        width: 24px;
        height: 24px;
    }
    .flex-play{
        background: url(../images/play.png) no-repeat 0 0;
        text-indent: -9999px;
    }
    .flex-pause {
        background: url(../images/pause.png) no-repeat 0 0;
        text-indent: -9999px;
    }
}



//Thumbails for carousel

.flexslider-thumbs {
    background-color: $panel-bg;
}

#carousel{
    margin-top: 3px;
    padding: 0 6%;
    .thumbnail {
      height:7.5%;
      margin-right:10px;
       transition: 1.25s ease;
        opacity:0.4;
        &.flex-active-slide{
            position:relative;
            opacity:1.0;
            top:-20px;
        }  
    }
}

/* Direction Nav */

#slider {
    //margin-bottom: 25px;
    .caption {
        position: relative;
        color:white;
        padding: 10px;
        padding-bottom: 20px;
        background: $very-dark-gray;
        & h1 a{
            color:#fff;
            margin:0;
        }
        .read-more a{
            color:#fff;
        }
    }
}

.flexslider {

    button.large, .button.large {
      display:none;
      @include tablet {
        display:block;
        padding-top: 1.03125em;
        padding-bottom: 0.7em;
        -webkit-appearance: none;
        margin: 0;
        float: right;
        margin-top: -62px;
      }
    }
}
