
	<div class="row" id="page-header">
    <div id="masthead" data-overlay="1">
      <div class="tiny-12 small-4 columns" id="logo">
        <img src="http://placehold.it/285x65&text=Logo">
      </div>
      <div class="tiny-12 small-8 columns" id="util-nav">
        <?php $this->file_include('blocks/searchbar.php'); ?>
        <?php  $this->file_include('blocks/socmedia.php'); ?>
        <ul id="navigation-utility" class="inline-list right" data-overlay="2">
          <li><a href="#">Maps</a></li>
          <li><a href="#">Library</a></li>
          <li><a href="#">Moodle</a></li>
          <li><a href="#">OnePort</a></li>
          <li><a href="#">Email</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Main Nav -->
<?php
if( ! $app->hide_main_nav ) { ?>
  <div class="row fill-left fill-right collapse main-nav" id="main-nav">
    <div class="large-12 columns">
      <?php $this->file_include('components/topnav2.php'); ?>
    </div>
  </div>
<?php } ?>

