





  <!-- Masthead -->
  {{components/masthead.php}}

  <!-- Body -->
	<div class="row">

		<div class="tiny-12 small-9 columns">
      {{blocks/main_content__example}}
    </div>

		<div class="tiny-12 small-3 columns">
      {{blocks/sidebar__example.php}}
		</div>

	</div>

  <!-- Footer -->
	<div class="row page-footer align-center" >
    {{components/page_footer.php}}
  </div>

