@if $generate-zf-globals {
  .wf-admin-menu {
    position: absolute;
    z-index: 1000;
    background-color: rgba(255,255,255, .75);
    padding: 2px;
    color: black;
    border: 1px solid black;

    box-shadow: 1px 1px 4px #333;
    position: fixed;
    top: 2px;
    left: 2px;

  }
  .mq-indicator {
    font-style: italic;
    font-size: 0.8em;
    background-color: #ffffcc;
    :before { 
      content: "{";
      font-style: normal; 
    }
    :after { 
      content: "}"; 
      font-style: normal; 
    }
  }
  .wf-admin-menu ul {
    margin: 0;
  }
}