
//
// Custom variables
//

//$column-gutter: emCalc(30px);


/* Custom breakpoint */
$tiny-screen: 480px;
$not-tiny-screen: 481px;
$tiny: "only screen and (max-width:"#{$tiny-screen}")";
$not-tiny: "only screen and (min-width:"#{$not-tiny-screen}")";

$topbar-breakpoint: 480px; // Change to 9999px for always mobile layout

@debug $tiny-screen;

$medium-dark-gray: #888;
$medium-gray: #aaa;

