
/* + + +   GLOBAL   + + + */


body {
  background-image: url("http://thedrupalteam.com/unc-wireframing/images/background-tile.png");
}

a {
  &:hover {
    text-decoration: underline;
  }
}


.frame-box {
  border: 1px solid $medium-gray;
}

.no-bullets {
  list-style-type: none;
  list-style-position: inside;
  li {
  }
}

// Vertical lists of teasers
.teasers > li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  &:first-child {
    padding-top: 0;
  }
}
// Mobile styles   
@media #{$tiny} {
  .teasers > li {
    padding: 0;
    margin: 0;
  }
}

.align-center {
  text-align: center;
  & ul.inline-list li {
    float: none;
    display: inline-block;
  }
}

.cta {
  @extend .expand;
}

.clear-fix { clear: both; }

img.gray {
  @include filter(grayscale(100%) opacity(0.5));
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}


img.left, 
.left > img,
.float-media.left {
  margin-right: 10px;
}

img.right, 
.right > img,
float-media.right {
  margin-left: 10px;
}

float-media {
  display: inline-block;
}

img.banner {
  margin-bottom: 5px;
}

.float-media {
  max-width: 60%;
}



.dark-link {
  @include filter(brightness(1.0));
  &:hover {
    @include filter(brightness(0.5));
    @include transition(filter 0.3s ease-out, -webkit-filter 0.3s ease-out);
    //-webkit-transition: -webkit-filter 300ms ease-out;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  }
}

a > img {
  @extend .dark-link;
}

/* + + +   CONTENT BLOCKS   + + + */

.content-block {
  & > h2 {
    font-size: emCalc(24px);
    font-weight: normal;
    margin-bottom: 10px;
  }
  h3.column-title {
    font-size: emPCalc(15);
    font-weight: bold;
  }
}

@media #{$tiny} {
  .panel {
    padding: 0;
    border: none;
  }
  .media-fill-tiny {
    max-width: 100%;
    width: 100%;
  }
}
