

/* + + +   SIDE NAVIGATION MENU   + + + */

.side-nav {
  @extend .hide-for-tiny;
  display: block;
  margin: 0;
  list-style-type: none;
  list-style-position: inside;
  li {
    font-size: emPCalc(12);
    background-color: #eee;
    display: inline-block;
    margin-bottom: 1px;
    margin-top: 3px;
    padding: 12px 10px;
    @include transition(background-color 0.3s ease-out);
    &:hover {
      background-color: #ddd;
    }
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.home .sidbar-right .side-nav {
  @extend .fill-top;
}

@media #{$not-tiny} { 
  .side-nav { 
    li {
      margin-top: 0;
      padding: 13px 20px;
      display: list-item;
    }
  }
}

@media #{$not-tiny} {
  .side-nav {
    li {
      display: list-item;
    }
  }
}

