/* + + +   LAYOUT   + + + */

// Force foundation rows to fill width, otherwise re-scale when font-size is changed
// See: https://github.com/zurb/foundation/issues/2529 */
.row {
  max-width: 960px;
}

.row {
  background-color: white;
}

// On tablet+ screen, fill body width
@media #{$not-tiny} { 
  .row {
    &.fill-left {
      .columns {
        &:first-child {
          padding-left:0;
        }
      }
    }
    &.fill-right {
      .columns {
        &:last-child {
          padding-right:0;
        }
      }
      & row:not(.fill-right) {
        .columns {
          &:last-child {
            padding-right: $column_gutter/2;
          }
        }
      }
    }
  }
}

// Remove top padding from element 
.fill-top {
  padding-top: 0;
}

@media #{$tiny} {
  .columns {
    padding-left: emCalc(4px);
    padding-right: emCalc(4px);
  }
  .row .row {
    width: auto;
    margin-left: emCalc(-4px);
    margin-right: emCalc(-4px);;
  }
}


//
//
// Push-pull at *larger* screen sizes (foundation's push/pull 
// reverses the layout vs the source order at *smaller* sizes.
//
//
@media #{$not-tiny} {
  @for $i from 1 through $total-columns - 1 {
    .not-tiny-push#{-$i} { @include grid-column($push:$i, $collapse:null, $float:false); }
    .not-tiny-pull#{-$i} { @include grid-column($pull:$i, $collapse:null, $float:false); }
  }
}
@media #{$small} {
  @for $i from 1 through $total-columns - 1 {
    .large-push#{-$i} { @include grid-column($push:$i, $collapse:null, $float:false); }
    .large-pull#{-$i} { @include grid-column($pull:$i, $collapse:null, $float:false); }
  }
}
