
/* + + +   SLIDESHOW   + + + */

/* Over-address Foundaton/Orbit styles */
.orbit-container {
  .orbit-slides-container {
    & > * {
      .orbit-caption {
        padding: 15px 20px 20px 20px;
        font-size: 1em;
        // On smaller screens, display below pic
        position: relative;
        float: left;
        background-color: $medium-gray;
      }
    }
    li {
      //height: 343px;
    }
    background-color: $medium-gray;
  }
  & .orbit-prev, & .orbit-next {
    top: 40%;
  }
}

.orbit-caption {
  .caption-text {
    display: block;
    float: left;
  }
  .heading {
    font-size: emPCalc(24);
    // 100% * 24/11;
  }
  .subheading {
    font-size: emPCalc(14);
  }
  .button {
    float: right;
    margin-top: emCalc(15px);
    margin-bottom: 0; // on smaller screens, avoid unnecessary spacing
    font-size: emPCalc(12);
  }
}

.orbit-bullets { display:none; } 

@media #{$small} { 
  .orbit-container .orbit-slides-container > * .orbit-caption {
    // On large screens, show as overlay
    position: absolute;
    //margin: 0 0 1.25em;
    float: none;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .orbit-container {
    & .orbit-prev, & .orbit-next {
      top: 50%;
    }
 } 
}

@media #{$tiny} {
  .orbit-container .orbit-slides-container > * .orbit-caption {
    padding: 0 5px 5px 5px;
  }
  .orbit-caption {
    .heading {
      font-size: emPCalc(14);
    }
    .subheading {
      font-size: emPCalc(11);;
    }
    .button.tiny {
      //@extend .tiny.button;
      float: left;
      clear: left;
    }
  }
  .orbit-container {
    & .orbit-prev, & .orbit-next {
      top: 100px;
      width: 30px;
      height: 36px;
      line-height: 36px;
    }
    & .orbit-prev > span, & .orbit-next > span {
      border-width: 10px;
      margin-top: -11px;
    }
  }
}
