
<nav class="top-bar" style="">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">

    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
  </ul>

          
  <section class="top-bar-section">
      <ul class="left">
        <li class="divider"></li>
        <li class="has-dropdown hover"><a href="/grid.php">Item 1</a>
          
          <ul class="dropdown"><li class="title back js-generated"><h5><a href="#">« Back</a></h5></li><li class=""><a class="parent-link js-generated" href="/grid.php">Item 1</a></li>
            <li class=""><label>Level One</label></li>
            <li class=""><a href="#">Sub-item 1</a></li>
            <li class=""><a href="#">Sub-item 2</a></li>
            <li class="divider"></li>
            <li class=""><a href="#">Sub-item 3</a></li>
            <li class="has-dropdown hover"><a href="#">Sub-item 4</a>

              <ul class="dropdown"><li class="title back js-generated"><h5><a href="#">« Back</a></h5></li>
                <li class=""><label>Level Two</label></li>
                <li class="has-dropdown"><a href="#">Sub-item 1</a>

                  <ul class="dropdown"><li class="title back js-generated"><h5><a href="#">« Back</a></h5></li>
                    <li class=""><label>Level Three</label></li>
                    <li class="has-dropdown"><a href="#">Sub-item 1</a>

                      <ul class="dropdown"><li class="title back js-generated"><h5><a href="#">« Back</a></h5></li>
                        <li class=""><label>Level Four</label></li>
                        <li class=""><a href="#">Sub-item 1</a></li>
                      </ul>
                    </li>
                    <li class=""><a href="#">Sub-item 2</a></li>
                    <li class=""><a href="#">Sub-item 3</a></li>
                    <li class="divider"></li>
                    <li class=""><a href="#">Sub-item 4</a></li>
                  </ul>
                </li>
                <li class=""><a href="#">Sub-item 2</a></li>
                <li class=""><a href="#">Sub-item 3</a></li>
                <li class=""><a href="#">Sub-item 4</a>
              </li></ul>
            </li>
            <li class=""><a href="#">Sub-item 5</a></li>
          </ul>
        </li>
        <li class="divider"></li>
      </ul>
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider hide-for-small"></li>
        <li class=""><a href="#">Item 2</a></li>
      </ul>
  </section>
</nav>
