<div class="wf-admin-menu">
  <ul>
    <li><a href=".">Index</a></li>
    <li class="mq-indicator">
      <span class="show-for-tiny">Mobile</span>
      <span class="show-for-small">Tablet</span>
      <span class="show-for-medium">Desktop</span>
      <span class="show-for-large">Desktop XL</span>
      <span class="show-for-xlarge">Desktop XXL</span>
    </li>
  </ul>
</div>